button{
    padding: 0.9rem;
    margin: 0.4rem;
    background-color: rgb(46, 187, 140);
    color: white;
    border: none;
    border-radius: 0.3rem;
}
button:hover{
    background-color: rgb(54, 54, 54);
}