*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
    background-color: white;
    color: black;
}
img{
    display: block;
    object-fit: cover;
    object-position: center;
    width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}
button{
    cursor: pointer;
}